%p
  Below you should see a list of services that you are allowed to administer.
  If there are any entries missing, please #{mail_to "#{SETTINGS[:admin_support_email]}", 'let us know'}.
%p
  To start updating, click on one of the links, which will take you to the details page
  for the service.

- if current_admin.super_admin?
  %p
    As a super admin, you have access to all services in the database. Please make updates responsibly.

- @organizations.each do |org|
  %h3
    = link_to org.name, admin_organization_path(org)
    = link_to "Add new #{t(:service)}", new_admin_organization_service_path(org), class: 'btn'
  %ul{ style: "list-style-position:inside; padding-left:5px;" }
    = "No #{t(:service).pluralize} available" if org.services.empty?
    - org.services.each do |service|
      %li
        = link_to service.name, edit_admin_organization_service_path(org, service)

= paginate @organizations