%p
  Below you should see a list of services that you are allowed to administer.
  If there are any entries missing, please #{mail_to "#{SETTINGS[:admin_support_email]}", 'let us know'}.
%p
  To start updating, click on one of the links, which will take you to the details page
  for the service.

- if current_admin.super_admin?
  %p
    As a super admin, you have access to all services in the database. Please make updates responsibly.

= "No #{t(:service).pluralize} available" if @services.empty?

- org = nil

%table{ class: "table table-bordered" }

  - @services.each do |service|
    - unless org.eql? service.organization
      - org = service.organization
      %tr.active
        %th{ colspan: "4", style: "padding: 1em; text-align:center;" }
          = link_to org.name, admin_organization_path(org) |
          = link_to "Add new #{t(:service)}", new_admin_organization_service_path(org), class: 'btn'
      %tr.info
        %td
          Name
        %td
          Service Admins
        %td
          Location(s)
        %td
          Actions
    %tr
      %td
        = link_to service.name, edit_admin_organization_service_path(service.organization_id, service)
      %td
        = service.admin_emails.join(", ")
      %td
        = service.availabilities.collect { |a| a.location.name }.join(", ")
      %td
        = link_to 'Duplicate', new_admin_organization_service_path(org, duplicate: service.id), class: "btn btn-info"
        = link_to 'Remove', admin_organization_service_path(org, service), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"

  - @serviceless_orgs.each do |org|
    %tr
      %th{ colspan: "4", style: "padding: 1em; text-align:center;", class: "active"  }
        = link_to org.name, admin_organization_path(org.slug) |
        = link_to "Add new #{t(:service)}", new_admin_organization_service_path(org.slug), class: 'btn'
    %tr
      %td{ colspan: "4", class: "warning", style: "font-size:0.8em; font-style:italic;" }
        No services found for this organisation

= paginate @services
