= field_set_tag do
  .form-group
    .row
      .col-md-4
        = f.label :start_date, 'Start date'
        %br
        = f.date_select :start_date, include_blank: true, discard_year: true, class: 'form-control'
      .col-md-4
        = f.label :end_date, 'End date'
        %br
        = f.date_select :end_date, include_blank: true, discard_year: true, class: 'form-control'
        = f.hidden_field :closed, value: true

  = f.hidden_field :availability_id, value: availability_id if defined?(availability_id) and f.object.new_record?

  = f.hidden_field :_destroy
  = link_to 'Remove these closed times', '#', class: 'btn btn-danger delete_association'
