.inst-box
  %header
    %strong
      Categories
    %p.desc
      What categories best describe this service? <i>NB: Check clackskids if you want this service to appear in the app</i>
  = hidden_field_tag 'service[category_ids][]', nil
  %div{ class: "row", id: "categories" }
    = field_set_tag nil, class: "col-md-3" do
      = nested_categories(Category.top_without_children.arrange(order: :oe_id))

    - for category in Category.top_with_children
      = field_set_tag nil, class: "col-md-3" do
        = nested_categories(category.subtree.arrange(order: :oe_id))

