= render 'admin/shared/forms/name', f: f
= render 'admin/shared/forms/alternate_name', f: f
= render 'admin/organizations/forms/accreditations', f: f
= render 'admin/organizations/forms/date_incorporated', f: f
= render 'admin/organizations/forms/description', f: f
= render 'admin/shared/forms/email', f: f
= render 'admin/organizations/forms/funding_sources', f: f
= render 'admin/organizations/forms/legal_status', f: f
= render 'admin/organizations/forms/licenses', f: f
= render 'admin/organizations/forms/website', f: f