%h1 Edit Category
%p= link_to "Back to categories", admin_categories_path

<br/>
= form_for @category, url: admin_category_path(@category) do |f|

  = render 'form', f: f

  %p
    = f.submit "Save", class: "btn"

<hr/>
%p
  = link_to 'Delete', admin_category_path(@category), method: :destroy, data: {confirm: "Are you sure?"}, class: "btn btn-danger"